body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1, h2 {
    color: #333;
}

.judul {
    padding: 50px 0;
    background-color: #ffcccc;
}

.counter, .groom, .bride, .wedding-info, .gallery, .guestbook {
    padding: 30px 0;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.guestbook form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.guestbook label, .guestbook input, .guestbook select, .guestbook textarea, .guestbook button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.guestbook button {
    background-color: #ffcccc;
    color: white;
    cursor: pointer;
    border: none;
}

.guestbook button:hover {
    background-color: #ff9999;
}

.guest-comments {
    margin-top: 30px;
}

.guest-comments .comment {
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
}

.guest-comments .comment strong {
    color: #333;
}

.guest-comments .comment p {
    margin: 10px 0;
}

.guest-comments hr {
    border: none;
    border-top: 1px solid #ccc;
}
